@import './functions';
@import './colors';

$base-line-height: 150% !default;

// Component: Alerts
$alert-padding: rem-calc(8) rem-calc(24) rem-calc(8) rem-calc(14) !default;
$alert-font-size: rem-calc(14) !default;
$alert-dark-color: #333 !default;
$alert-light-color: #fff !default;
$alert-default-color: #eaeaea !default;

// Component: Buttons
$button-padding: rem-calc(12) !default;
$button-font-size: rem-calc(12) !default;
$button-color: #fff !default;
$button-alt-color: #333 !default;

// Component: Disclosures
$disclosure-title-font-size: rem-calc(12) !default;

// Component: Dropdowns
$dropdown-color: #000 !default;
$dropdown-bg-color: #fff !default;
$dropdown-border-color: #ccc !default;
$dropdown-hover-bg-color: #f4f4f4 !default;

// Component: Flash
$flash-color: #fff !default;
$flash-shadow-color: rgba(255, 255, 255, .4) !default;
$flash-bg-color: $primary-color !default;
$flash-error-bg-color: $danger-color !default;
$flash-success-bg-color: $success-color !default;

// Component: Forms
$form-element-border-radius: 0 !default;
$form-spacing: rem-calc(16) !default;
$form-button-border-radius: $form-element-border-radius !default;
$form-disabled-bg-color: #ddd !default;
$form-disabled-color: #777 !default;
$form-element-margin: 0 0 ($form-spacing / 2) 0 !default;
$form-element-shadow-color: rgba(0, 0, 0, .1) !default;
$form-input-font-size: rem-calc(14) !default;
$form-label-color: #4d4d4d !default;
$form-label-font-size: rem-calc(14) !default;

// Component: Grid
$row-width: rem-calc(1000) !default;
$total-columns: 12 !default;
$column-gutter: rem-calc(30) !default;

// Component: Labels
$label-padding: rem-calc(6 8) !default;
$label-font-size: rem-calc(12) !default;
$label-font-color: #333 !default;
$label-font-color-alt: #fff !default;
$label-plain-color: #eee !default;

// Component: Modals
$modal-bg-color: #fff !default;
$modal-border-color: #666 !default;
$modal-cancel-button-color: #dadada !default;
$modal-overlay-color: rgba(0, 0, 0, .45) !default;
$modal-title-color: #fff !default;

$modal-widths: (
  tiny: 32em,
  small: 44em,
  medium: 56em,
  large: 68em,
  xlarge: 80em
) !default;

// Component: Pagination
$pagination-active-bg-color: $primary-color !default;
$pagination-active-color: #fff !default;
$pagination-color: #222 !default;
$pagination-disabled-color: #999 !default;
$pagination-hover-bg-color: rgba(0, 0, 0, .08) !default;
$pagination-link-color: #999 !default;

// Component: Panels
$panel-bg: #f2f2f2 !default;
$panel-font-color-alt: #fff !default;
$panel-font-color: #333 !default;
$panel-margin-bottom: rem-calc(20) !default;
$panel-padding-small: rem-calc(8 10) !default;
$panel-padding: rem-calc(16 20) !default;

// Component: Tables
$table-border-color: #ccc !default;
$table-padding: .5em !default;

// Component: Tabs
$tabs-active-color: $primary-color !default;
$tabs-bg-color: #fff !default;
$tabs-content-padding: 0 rem-calc(10) !default;
$tabs-font-size: rem-calc(12) !default;
$tabs-padding: rem-calc(10) !default;

// Component: Typography
$body-bg-color: #fafafa !default;
$font-color: #222 !default;

$h1-font-size: rem-calc(34) !default;
$h2-font-size: rem-calc(30) !default;
$h3-font-size: rem-calc(26) !default;
$h4-font-size: rem-calc(22) !default;
$h5-font-size: rem-calc(18) !default;
$h6-font-size: 1rem !default;

$h1-font-reduction: rem-calc(10) !default;
$h2-font-reduction: rem-calc(10) !default;
$h3-font-reduction: rem-calc(5) !default;
$h4-font-reduction: rem-calc(5) !default;

$print-border-color: #999 !default;
$print-color: #000 !default;

// Media Queries
$small-limit: 40em !default;
$medium-limit: 64em !default;
$large-limit: 88em !default;

$screen: 'only screen';

$landscape: '#{$screen} and (orientation: landscape)';
$portrait: '#{$screen} and (orientation: portrait)';

$small-up: $screen;
$small-only: '#{$screen} and (max-width: #{$small-limit})';

$medium-up: '#{$screen} and (min-width:#{$small-limit + .063em})';
$medium-only: '#{$screen} and (min-width:#{$small-limit + .063em}) and (max-width:#{$medium-limit})';

$large-up: '#{$screen} and (min-width:#{$medium-limit + .063em})';
$large-only: '#{$screen} and (min-width:#{$medium-limit + .063em}) and (max-width:#{$large-limit})';

$xlarge-up: '#{$screen} and (min-width:#{$large-limit + .063em})';
$xlarge-only: $xlarge-up;
