@mixin button-base {
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: $button-font-size;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 rem-calc(5);
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background .2s linear;
}

@mixin button-size($padding: $button-padding, $sides: $button-padding * 1.5) {
  padding: $padding $sides ($padding + rem-calc(1));
}

@mixin button-style($bg: $primary-color, $hover: true) {
  $color: if(lightness($bg) < 70%, $button-color, $button-alt-color);
  $shadow-lightness: if(lightness($bg) < 70%, -85%, 85%);

  background: $bg;
  color: $color;
  text-shadow: 0 1px 1px scale-color($bg, $lightness: $shadow-lightness);

  .alert-box & {
    color: $color;
    text-decoration: none;
  }

  @if $hover {
    &:hover,
    &:active {
      background: if($hover == true, scale-color($bg, $lightness: -17%), $hover);
      color: $color;
    }

    .alert-box &:hover,
    .alert-box &:active {
      color: $color;
      text-decoration: none;
    }
  }
}
