@mixin label-color($bg: $primary-color, $border: false) {
  background-color: $bg;

  @if lightness($bg) < 70% {
    color: $label-font-color-alt;
    text-shadow: 0 1px 1px scale-color($bg, $lightness: -70%);
  } @else {
    color: $label-font-color;
    text-shadow: 0 1px 1px scale-color($bg, $lightness: 70%);
  }

  @if $border {
    border: 1px solid $border;
  }
}
