@mixin alert-color($bg: $alert-default-color) {
  $color: if(lightness($bg) > 70%, $alert-dark-color, $alert-light-color);

  background-color: $bg;
  border-color: scale-color($bg, $lightness: -14%);
  color: $color;
  text-shadow: 0 1px 1px scale-color($bg, $lightness: if(lightness($bg) < 70%, -70%, 70%));

  a,
  a:hover {
    color: $color;
    text-decoration: underline;
  }
}
