@import './mixins/buttons';

@mixin fustrate-buttons {
  button,
  .button {
    @include button-base;
    @include button-size;
    @include button-style;

    &.expand {
      width: 100%;
    }

    &.radius {
      border-radius: 5px;
    }

    &.xlarge {
      @include button-size($button-padding * 1.8, $button-padding * 1.2);
      font-size: $button-font-size * 1.4;
    }

    &.large {
      @include button-size($button-padding * 1.3, $button-padding * 1.1);
      font-size: $button-font-size * 1.15;
    }

    &.small {
      @include button-size($button-padding * .6, $button-padding);
    }

    &.tiny {
      @include button-size($button-padding * .4, $button-padding * .6);
      border-radius: 5px;
      font-size: $button-font-size * .4;
    }

    &.danger,
    &.logout,
    &.destroy,
    &.deny,
    &.delete {
      @include button-style($red);
    }

    &.save,
    &.submit,
    &.create,
    &.approve,
    &.success,
    &.close {
      @include button-style($green);
    }

    &.plain,
    &.toggle-all,
    &.download,
    &.email,
    &.cancel {
      @include button-style(#eaeaea);
    }

    h4 & {
      vertical-align: middle;
    }
  }
}
