@import './mixins/grid';

.row {
  @include grid-row;

  &.fluid {
    max-width: 100%;
    width: 100%;
  }

  &.collapse {
    > .column,
    > .columns {
      @include grid-column($collapse: true, $float: false);
    }

    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .row {
    @include grid-row(nest);

    &.collapse {
      @include grid-row(nest-collapse);
    }
  }
}

.column,
.columns {
  @include grid-column($columns: $total-columns);

  & + &:last-child,
  & + &.end {
    float: left;
  }
}

@media #{$small-up} {
  @include grid-html-classes($size: small);
  @include column-html-classes($size: small);
}

@media #{$medium-up} {
  @include grid-html-classes($size: medium);
  @include column-html-classes($size: medium);
}

@media #{$large-up} {
  @include grid-html-classes($size: large);
  @include column-html-classes($size: large);
}
