@import './mixins/labels';

.label {
  @include label-color;
  border-radius: 3px;
  display: inline-block;
  font-size: $label-font-size;
  line-height: 1;
  margin-bottom: inherit;
  padding: $label-padding;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  td.status:last-child &:only-child,
  &.fw {
    display: block;
  }

  &.round {
    border-radius: 1000px;
  }

  &.sharp {
    border-radius: 0;
  }

  &.bad,
  &.no,
  &.danger,
  &.inactive {
    @include label-color($red);
  }

  &.good,
  &.yes,
  &.success {
    @include label-color($green);
  }

  &.warning {
    @include label-color($orange);
  }

  &.plain {
    @include label-color($label-plain-color);
    border: 1px solid scale-color($label-plain-color, $lightness: -7%);
  }

  // Check Mark
  &.yes::before {
    @include font-awesome($fa-var-check);
  }

  // X
  &.no::before {
    @include font-awesome($fa-var-times);
  }
}
