@import './mixins/panels';

.panel {
  @include panel-color;
  font-size: rem-calc(14);
  margin-bottom: $panel-margin-bottom;
  padding: $panel-padding;

  // reset header line-heights for panels
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1;
    margin-bottom: rem-calc(20) / 2;
  }

  ul,
  ol,
  dl {
    font-size: inherit;
  }

  // Respect the padding, fool.
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  &.radius {
    border-radius: 3px;
  }

  &.info {
    @include panel-color(lighten($info-color, 5%));
  }

  &.success {
    @include panel-color(lighten($success-color, 20%));
  }

  &.danger {
    @include panel-color(scale-color($danger-color, $lightness: 70%, $saturation: -20%));
  }

  &.small {
    padding: $panel-padding-small;
  }
}
